a/* @keyframes bounce{ 
    0%, 100%{transform: translateY(0);}
    50%{transform: translateY(-150px);}}
.ball{
    width:50px;
    height:50px;
    border-radius:50%;
    background-color: blueviolet;
    animation: bounce 2s ease-in-out infinite;} */
    /* .navbar{
        display:flex;
        /* justify-content:space-between; */
        /* background-color: rgb(19, 18, 17);
        padding:10px;
        flex-direction:column ;
    }
    .navbar div{
        color:white;
        margin:0 10px;
    } */ */
    .container{
        display:grid;
        grid-template-columns:1fr 2fr 1fr;
        grid-template-rows:100px 200px;
        grid-gap:10px;
    }
    .box{background-color:lightblue;
    border:2px solid navy;text-align:center;
    font-size:20px;}
 @media(max-width:600px){
     .container{
     grid-template-columns:1fr;}}

